input{
  margin:2px;
}
.vid_title{
  width:35%;
  height:35%;
  border-left:dotted 10px #c0c0c0;
  border-right:dotted 10px #c0c0c0;
  background-color: #000000;
  color:#FFFFFF;
}
.space{
  margin:0.5em;
}
.shadow{
  box-shadow: 2px 4px 8px #000000;
}
.logon{
  box-shadow:2px 4px 10px #000000;
  border-radius: 10px;
  background-color:#c0c0c0;
  margin:1em;
  padding:1em;
}
.widget{
  font-size:1em;
  height:200px;
}
.wordwrap {
   white-space: pre-wrap;      /* CSS3 */
   white-space: -moz-pre-wrap; /* Firefox */
   white-space: -pre-wrap;     /* Opera <7 */
   white-space: -o-pre-wrap;   /* Opera 7 */
   word-wrap: break-word;      /* IE */
}
